.editor--toolbar {
  border: 2px solid #000;
  border-radius: 6px;
  margin: 0 auto;

  .va-button {
    background-color: none !important;
    border-radius: 6px;

    .va-icon {
      color: #000;
    }
  }

  .va-progress-bar {
    width: calc(var(--va-progress-bar-width) - 10px);
    margin: 0 auto;
  }
}
